.hero {
    background-color: var(--background-color);
    text-align: center;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero-bg-mob.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;

    padding-top: 118px;
    height: 400px;
    width: auto;
}

.hero__title {
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    color: var(--background-white);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
}