:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --action-color: #2196f3;
    --background-color: #2F303A;
    --background-white: #FFFFFF;
    --background-main: #E5E5E5;
    --background-grey: #AFB1B8;
    --background-our-team-section: #F5F4FA;
    --portfolio-items-border-color: #EEEEEE;
    --footer-links: rgba(255, 255, 255, 0.6);
    --content-box-margin: 30px;

    --animatiom-function: cubic-bezier(0.4, 0, 0.2, 1);
}